<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border-bottom: 1px solid #e6e6e6;font-size:18px;padding:20px 0;">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>{{t 'Verify your email address'}}</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="font-size:14px;line-height:30px;color:#666;">
      <br>{{t 'There is only one step left to create your account.'}}
      <br>{{t 'We want to make sure you have entered the correct email address, so we ask you to confirm it.'}}
    </td>
  <tr>
    <td style="font-size:14px;line-height:30px;padding:0 0 20px;color:#666;">
      {{t 'Enter this verification code to start using:'}}
    </td>
  </tr>
  <tr>
    <td>
      <span style="padding:5px 0;font-size: 20px;font-weight: bolder;color:#055953;">{{confirmCode}}</span>
    </td>
  </tr>
  <tr>
    <td style="padding:20px 0 10px 0;line-height:26px;color:#666;">
      {{t 'The verification code will be valid for 30 minutes.'}}
      {{t 'Please do not share this code with anyone.'}}
    </td>
  </tr>
  <tr>
    <td style="padding:30px 0 15px 0;font-size:12px;color:#999;line-height:20px;">
      VECTRUM Team
      <br>{{t 'This is an automated message, please do not reply.'}}
    </td>
  </tr>
</table>